<!DOCTYPE html>
html(lang="es")
    head
        include ../partials/header
    body.login
        .contenedor-formulario
            h1 Crear tu cuenta en UpTask

            //Validaci칩n tradicional
            //- if errores
            //-     each val in errores
            //-         p.error.alerta= val.message

            //Erorres con flash
            if locals.mensajes
                .alertas
                    each categoria in Object.keys(locals.mensajes)
                        each error in mensajes[categoria]
                            .alerta(class=`${categoria}`)
                                p= error

            form#formulario.caja.caja-login(action="/crear-cuenta" method="post")
                .campo
                    label(for="email") E-mail:
                    input(type="email" name="email" placeholder="Correo electr칩nico" value= email)
                .campo
                    label(for="password") Password:
                    input(type="password" name="password" placeholder="Tu contrase침a" value= password)
                .campo.enviar
                    input.boton(type="submit" value="Crear cuenta")
                .campo
                    a.enlace(onClick="location.href='/iniciar-sesion'") Volver a iniciar sesi칩n