<!DOCTYPE html>
html(lang="es")
    head
        include ../partials/header
    body.login
        .contenedor-formulario
            h1 Iniciar sesión en UpTask

            //- if error
            //-     p.alerta.error= error

            if locals.mensajes
                .alertas
                    each categoria in Object.keys(locals.mensajes)
                        each error in mensajes[categoria]
                            .alerta(class=`${categoria}`)
                                p= error

            form#formulario.caja.caja-login(action="/iniciar-sesion" method="post")
                .campo
                    label(for="email") E-mail:
                    input(type="email" name="email" placeholder="Correo electrónico" value= email)
                .campo
                    label(for="password") Password:
                    input(type="password" name="password" placeholder="Tu contraseña" value= password)
                .campo.enviar
                    input.boton(type="submit" value="Iniciar sesión")
                .campo
                    a.enlace(onClick="location.href='/crear-cuenta'") ¿Aún no tienes cuenta? Crea una gratis
                .campo.acciones
                    a.enlace(onClick="location.href='/reestablecer'") ¿Olvidaste tu contraseña?