<!DOCTYPE html>
html(lang="en")
    head
        include ../partials/header
    body.login
        .contenedor-formulario
            h1= nombrePagina
            p Coloca tu nuevo password

            form.caja-login(method="post")
                .campo
                    label(for="email") Password:
                    input(type="password" name="password" placeholder="Nuevo password" value= email)
                .campo.enviar
                    input.boton(type="submit" value="Reestablecer password")