<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="/css/normalize.css")
        link(rel="stylesheet", href="/css/app.css")
        title=nombrePagina
    body
        header.barra
            h1 UpTask - Administrador de proyectos
            a(href="#") Cerrar sesión

        main.contenedor
            aside.contenedor-proyectos
                .panel.crear-proyecto
                    a(onClick="location.href='/nuevo-proyecto'" class="boton") Nuevo proyecto
                        span +
                .panel.lista-proyectos
                    h2 Proyectos
                    ul#proyectos.proyectos
                        if(proyectos.length)
                            each val in proyectos
                                li
                                    a(href=`/proyectos/${val.url}`)= val.nombre

            block MasterPage
            //- Impirmir valores de la BD
            //- pre= vardump(proyectos)

        script(src="/dist/bundle.js")